services:
  pwscraper:
    build: .
    ports:
      - 8080:8080
  nginx:
    image: nginx@sha256:0236ee02dcbce00b9bd83e0f5fbc51069e7e1161bd59d99885b3ae1734f3392e
    ports:
      - 6080:80
    volumes:
      - ./src/test/resources/nginx/www:/usr/share/nginx/html
      - ./src/test/resources/nginx/nginx.conf:/etc/nginx/conf.d/default.conf