name: Verify Pull Requests

on:
  workflow_dispatch:
    inputs:
      log_level:
        description: "Log Level"
        default: "debug"
  pull_request:
    branches: [ "main" ]
  push:
    branches:
      - "renovate/*"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: Set up JDK 21
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Install Playwright
      run: mvn exec:java -e -D exec.mainClass=com.microsoft.playwright.CLI -D exec.args="install --with-deps"
    - name: Run test suite
      run: mvn -B -ntp clean verify --file pom.xml
    - name: Upload Spotbugs SARIF
      uses: github/codeql-action/upload-sarif@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v4
      with:
        sarif_file: target/spotbugsSarif.json
    - name: Upload PMD SARIF
      uses: github/codeql-action/upload-sarif@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v4
      with:
        sarif_file: target/pmd.sarif.json
