name: Build and Deploy Release

on:
  workflow_dispatch:
    inputs:
      log_level:
        description: "Log Level"
        default: "debug"
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
    - name: Set up JDK 21
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Install Playwright
      run: mvn exec:java -e -D exec.mainClass=com.microsoft.playwright.CLI -D exec.args="install --with-deps"
    - name: Build with Maven
      run: mvn -B clean package --file pom.xml
    - name: Get version
      run: |
        MVN_VERSION=`mvn help:evaluate -Dexpression=project.version -q -DforceStdout`
        MAJOR_VERSION=`echo $MVN_VERSION|grep -o "[0-9]*\."|head -1`
        echo "mvn_version=$MVN_VERSION" >> $GITHUB_ENV
        echo "major_version=$MAJOR_VERSION" >> $GITHUB_ENV
        echo "docker_version=${MAJOR_VERSION}${{ github.run_number }}" >> $GITHUB_ENV
    - name: Debug
      run: |
        echo "MVN Version: ${{ env.mvn_version }}"
        echo "Major Version: ${{ env.major_version }}"
        echo "Docker Version: ${{ env.docker_version }}"
        echo "Github run number: ${{ github.run_number }}"
    - name: Setup Docker buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
    - name: Log in to the Container registry
      uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
      with:
        context: .
        push: true
        tags: |
          ghcr.io/acbgbca/pw-scraper:${{ env.docker_version }}
          ghcr.io/acbgbca/pw-scraper:latest
